<h1 class="page-title">
  <mat-icon>timer</mat-icon>
  Timer Picker
</h1>
<p class="page-subtitle">Some examples of how to use the
  <span>mcc-timer-picker</span> component</p>

<mat-tab-group>

  <mat-tab>
    <ng-template mat-tab-label>
      Overview
    </ng-template>

    <h2>MccTimerPicker</h2>

    soon
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      API
    </ng-template>

    <app-timer-picker-api></app-timer-picker-api>
  </mat-tab>

  <mat-tab label="Examples">
    <ng-template mat-tab-label>
      Examples
    </ng-template>

    <app-timer-picker-examples></app-timer-picker-examples>
  </mat-tab>

</mat-tab-group>