<button
  #button
  mat-mini-fab
  role="option"
  [attr.aria-label]="ariaLabel"
  class="mat-elevation-z0 option-background"
  [disabled]="!color || color === emptyColor"
  (click)="colorSelected.emit(color)"
>
  <span class="option-color" [style.backgroundColor]="backgroundColor"></span>

  <ng-container *ngIf="!disableSelectedIcon">
    <mat-icon *ngIf="!isColorSelected(color); else selectionIcon"></mat-icon>
    <ng-template #selectionIcon>
      <mat-icon
        *ngIf="selectedColorSvgIcon; else selectionFontIcon"
        class="mat-svg-icon"
        [svgIcon]="selectedColorSvgIcon"
        [ngClass]="getIconColorClassForColor(color)"
      ></mat-icon>
      <ng-template #selectionFontIcon>
        <mat-icon *ngIf="!selectedColorSvgIcon" class="mat-font-icon" [ngClass]="getIconColorClassForColor(color)">{{
          selectedColorIcon
        }}</mat-icon>
      </ng-template>
    </ng-template>
  </ng-container>
</button>
