<div class="mcc-color-picker-selector" [ngStyle]="{ 'height.px': height }">
  <div #block class="mcc-picker-selector" [style.height.px]="height" [style.width.px]="selectorWidth"></div>
  <canvas #blockCanvas [height]="height" [width]="selectorWidth" id="picker"></canvas>
  <div #blockPointer class="mcc-picker-position" style="top: 0; left: 0;"></div>

  <div
    #hueContainer
    class="mcc-colors-position"
    [style.height.px]="height"
    [ngClass]="{ 'alpha-enabled': colorPickerCollectionService.alpha }"
    style="background-position-y: 0;"
  >
    <canvas #hueSelector [height]="stripHeight" [width]="stripWidth" id="colors"></canvas>
  </div>

  <div
    *ngIf="colorPickerCollectionService.alpha"
    #alphaContainer
    class="mcc-alpha-position"
    [style.height.px]="height"
    style="background-position-y: 0;"
  >
    <canvas #alpha [height]="stripHeight" [width]="stripWidth" id="alpha" class="mcc-alpha-background"></canvas>
  </div>
</div>

<div class="mcc-color-picker-selector-preview">
  <div class="mcc-color-picker-selector-preview-background" [style.backgroundColor]="tmpSelectedColorAsRgba$ | async"></div>
  <!--  TODO: refactor hex-input and rgb-input classes to be compatible with appearance="standard/outline/fill"-->
  <ng-container *ngIf="!hideHexForms && !noColor">
    <form [formGroup]="hexForm">
      <mat-form-field class="hex-input" floatLabel="always" appearance="legacy" [ngClass]="textClass">
        <input matInput placeholder="HEX" formControlName="hexCode" (paste)="updateHexFromClipboard($event)" />
      </mat-form-field>
    </form>

    <form [formGroup]="rgbaForm">
      <mat-form-field class="rgb-input" floatLabel="always" appearance="legacy" [ngClass]="textClass">
        <input
          matInput
          type="number"
          [placeholder]="colorPickerCollectionService.alpha ? 'RGBA' : 'RGB'"
          formControlName="R"
          (paste)="updateRgbFromClipboard($event, 'R')"
        />
      </mat-form-field>
      <mat-form-field class="rgb-input" floatLabel="always" appearance="legacy" [ngClass]="textClass">
        <input matInput type="number" formControlName="G" (paste)="updateRgbFromClipboard($event, 'G')" />
      </mat-form-field>
      <mat-form-field class="rgb-input" floatLabel="always" appearance="legacy" [ngClass]="textClass">
        <input matInput type="number" formControlName="B" (paste)="updateRgbFromClipboard($event, 'B')" />
      </mat-form-field>

      <mat-form-field
        *ngIf="colorPickerCollectionService.alpha"
        class="rgb-input"
        floatLabel="always"
        appearance="legacy"
        [ngClass]="textClass"
      >
        <input matInput type="number" formControlName="A" (paste)="updateRgbFromClipboard($event, 'A')" />
      </mat-form-field>
    </form>
  </ng-container>
</div>
