@import 'common';

button {
  width: 22px;
  height: 22px;
  cursor: pointer;
  margin: 3px;

  mat-icon {
    position: relative;
    &.black {
      color: rgba(0,0,0,0.87) !important;
      fill: rgba(0,0,0,0.87) !important;
    }
    &.white {
      color: #ffffff !important;
      fill: #ffffff !important;
    }
  }

  &.black {
    color:  rgba(0,0,0,0.87)  !important;
    mat-icon {
      color:  rgba(0,0,0,0.87)  !important;
    }
  }
  &.white {
    color: #ffffff !important;
    mat-icon {
      color: #ffffff !important;
    }
  }

  .mat-font-icon {
    width: 10px;
    height: 10px;
    font-size: .8rem;
    font-weight: 600;
    margin: -1.3rem 0 0 -.15rem;
  }

  .mat-svg-icon {
    margin: -1.3rem 0 0 0;
    width: 14px;
  }
}


.option-background {
  background-image: $alpha-background;
  background-repeat: repeat;
  background-size: 14px;
  position: relative;
  background-color: transparent !important;
}

.option-color {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 12px;
  background-color: lightgrey;
}
