<h1 class="page-title">
  <mat-icon>colorize</mat-icon>
  Color Picker
</h1>
<p class="page-subtitle">documentation of
  <span>mcc-color-picker</span> component</p>

<mat-tab-group>

  <mat-tab>
    <ng-template mat-tab-label>
      Overview
    </ng-template>

    <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile colspan="3">
        <h2>MccColorPicker</h2>
      </mat-grid-tile>

      <mat-grid-tile>
        <a href="https://github.com/tiaguinho/material-community-components/tree/master/src/lib/color-picker"
          target="_blank">
          <img src="https://tiaguinho.github.io/material-community-components/demo-app/assets/img/source-code.png"
            alt="Source Code" class="source-code" />
        </a>
      </mat-grid-tile>
    </mat-grid-list>

    <p>When import the
      <code>MccColorPickerModule</code>, you can provide some configurations.</p>

    <pre class="code-snippet"><code class="lang-typescript"> import {{ '{' }} MccColorPickerModule {{ '}' }} from 'material-community-components';

  <span class="hljs-variable">@NgModule</span>({{ '{' }}
    ...
    <span class="hljs-attribute">imports</span>: [
      MccColorPickerModule.forRoot({{ '{' }}
        <span class="hljs-attribute">empty_color</span>: <span class="hljs-string">'transparent',</span>
        <span class="hljs-attribute">used_colors</span>: <span class="hljs-string">['#000000', '#FFF555']</span>
        <span class="hljs-attribute">selected_icon</span>: <span class="hljs-string">'check'</span>
        <span class="hljs-attribute">disable_selected_icon</span>: <span class="hljs-string">false</span>
        <span class="hljs-attribute">enable_alpha_selector</span>: <span class="hljs-string">false</span>
      {{ '}' }})
    ]
    ...
  {{ '}' }})
</code></pre>

    <h4>Configurations</h4>
    <table class="table-api-documentation">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <code>empty_color: string</code>
        </td>
        <td class="api-description">Define any color you want</td>
        <td class="api-description">none</td>
      </tr>
      <tr>
        <td>
          <code>used_colors: string[]</code>
        </td>
        <td class="api-description">Define list of colors to start used colors</td>
        <td class="api-description">[]</td>
      </tr>
      <tr>
        <td>
          <code>selected_icon: string</code>
        </td>
        <td class="api-description">Define icon to be used on selected colors</td>
        <td class="api-description">done</td>
      </tr>
      <tr>
        <td>
          <code>selected_svg_icon: string</code>
        </td>
        <td class="api-description">Define SVG icon name to be used on selected colors (nees to be registered in MatIconRegistry). Overrides "selected_icon"</td>
        <td class="api-description">null</td>
      </tr>
      <tr>
        <td>
          <code>disable_selected_icon: boolean</code>
        </td>
        <td class="api-description">Disable selected icon showed when color is selected</td>
        <td class="api-description">false</td>
      </tr>
      <tr>
        <td>
          <code>enable_alpha_selector: boolean</code>
        </td>
        <td class="api-description">Enable alpha selector option</td>
        <td class="api-description">false</td>
      </tr>
      </tbody>
    </table>

    <p>For
      <code class="highlight">@Input</code> and
      <code class="highlight">@Output</code> of the component, check API tab.
    </p>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      API
    </ng-template>

    <app-color-picker-api></app-color-picker-api>
  </mat-tab>

  <mat-tab label="Examples">
    <ng-template mat-tab-label>
      Examples
    </ng-template>

    <app-color-picker-examples></app-color-picker-examples>
  </mat-tab>

</mat-tab-group>
