<h1 class="page-title">
  <mat-icon>add_circle_outline</mat-icon>
  Speed Dial
</h1>
<p class="page-subtitle">Example of how to use the
  <span>mcc-speed-dial</span> component</p>

<mat-tab-group>

  <mat-tab>
    <ng-template mat-tab-label>
      Overview
    </ng-template>

    <h2>MccSpeedDial</h2>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      API
    </ng-template>

    <app-speed-dial-api></app-speed-dial-api>
  </mat-tab>

  <mat-tab label="Examples">
    <ng-template mat-tab-label>
      Examples
    </ng-template>

    <app-speed-dial-examples></app-speed-dial-examples>
  </mat-tab>

</mat-tab-group>