@use '~@angular/material' as mat;
@use './projects/material-community-components/theming' as mcc;
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,400');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$demo-primary: mat.define-palette(mat.$green-palette);
$demo-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$demo-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$demo-theme: mat.define-light-theme($demo-primary, $demo-accent, $demo-warn);

// build angular material theme
@include mat.all-component-themes($demo-theme);

// pass angular material theme to material community components
@include mcc.mcc-theme($demo-theme);


html,
body {
  height: 100%;;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #f9f9f9;
}

code,
pre {
  font-family: 'Roboto Mono', monospace;
}

code.highlight {
  background: cornsilk;
  border: 2px solid #ccc;
  border-radius: .8rem;
  padding: .1rem .3rem;
  font-style: italic;
}

.page-title {
  font-weight: 600;
  margin-bottom: 0px;
}

.page-subtitle {
  font-size: 13px;
  margin: 0 0 20px 0;
}

.page-subtitle span {
  background: #ccc;
  padding: 2px;
  font-weight: 600;
}

h2 {
  font-weight: 300;
  margin: 20px 0 15px 0;
  border-bottom: 1px solid #dadada;
  padding-bottom: 8px;
}

h3 {
  font-weight: 400;
}

hr {
  margin: 35px 0;
  border: 1px dashed #ccc;
}

table {
  background-color: #ffffff;
}

.code-snippet {
  display: block;
  font-size: 13px;
  margin: 16px auto;
  padding: 20px;
  overflow-x: auto;
  background: rgba(0, 0, 0, 0.01);
  border: 0.5px solid rgba(0, 0, 0, 0.03);
  border-radius: 5px;
}

.table-api-documentation {
  width: 100%;
  box-sizing: border-box;
  border: 0px;
  border-collapse: collapse;
  border-radius: 2px;
  border-spacing: 0;

  th {
    background: #f5f5f5;
    font-weight: 400;
    padding: 13px 32px;
    text-align: left;
  }
  td {
    border: 1px solid rgba(0, 0, 0, 0.03);
    font-size: 14px;
    font-weight: 400;
    padding: 8px 16px;

    code {
      font-size: 90% !important;
    }

    .api-description {
      font-size: 15px !important;
    }
  }
}

.mat-card {
  padding: 0px !important;
  margin-top: 20px;
  margin-bottom: 10px;
}

.mat-card-header {
  padding: 24px 24px 5px 24px;
  background: #e5e5e5;
}

.mat-card-title {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 14px !important;
}

.mat-card-content {
  padding: 24px;
}
