<h1 class="page-title">
  <mat-icon>colorize</mat-icon>
  Color Picker
</h1>
<p class="page-subtitle">documentation of
  <span>mcc-color-picker</span> component</p>

<mat-tab-group>

  <mat-tab>
    <ng-template mat-tab-label>
      Overview
    </ng-template>

    <h2 id="mcccolorpicker-module">MccColorPicker</h2>
    <p>When import the
      <code>MccColorPickerModule</code>, you can provide a configuration for the empy value.</p>

    <pre class="code-snippet"><code class="lang-typescript">  <span class="hljs-variable">@NgModule</span>({{ '{' }}
    ...
    <span class="hljs-attribute">imports</span>: [
      MccColorPickerModule.forRoot({{ '{' }}
        <span class="hljs-attribute">empty_color</span>: <span class="hljs-string">'transparent'</span>
      {{ '}' }})
    ]
    ...
  {{ '}' }})
</code></pre>
    <p>The default value is
      <code>none</code>, but you can set anything you want.
    </p>

    <p>For the
      <code>@Input</code> and
      <code>@Output</code> of the component, check API tab.
    </p>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      API
    </ng-template>

    <app-color-picker-api></app-color-picker-api>
  </mat-tab>

  <mat-tab label="Examples">
    <ng-template mat-tab-label>
      Examples
    </ng-template>

    <app-color-picker-examples></app-color-picker-examples>
  </mat-tab>

</mat-tab-group>