<!-- CHANGE USED COLOR LABEL -->
<mat-card>
  <mat-card-header>
    <mat-card-title>
      Change used color label (with Alpha enabled)
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker [usedColorLabel]="'My Colors'">

      <mcc-color-picker-collection [label]="'First Collection'" [colors]="colors">
      </mcc-color-picker-collection>

    </mcc-color-picker>
  </mat-card-content>
</mat-card>

<!-- REVERSE USED COLOR -->
<mat-card>
  <mat-card-header>
    <mat-card-title>
      Show used color in reverse (with Alpha enabled)
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker [usedColorLabel]="'My Colors'" reverseUsedColors>

      <mcc-color-picker-collection [label]="'First Collection'" [colors]="colors">
      </mcc-color-picker-collection>

    </mcc-color-picker>
  </mat-card-content>
</mat-card>

<!-- CHANGE COLOR WHEN CONFIRM -->
<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span [style.color]="selectedColor">Change color when confirm (with Alpha enabled)</span>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker [usedColorLabel]="'My Colors'" (selected)="selectedColor = $event">

      <mcc-color-picker-collection [label]="'First Collection'" [colors]="colors">
      </mcc-color-picker-collection>

    </mcc-color-picker>
  </mat-card-content>
</mat-card>

<!-- CONNECT COLOR PICKER WITH AN INPUT -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Connect color picker with an input (with Alpha enabled)</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker mccConnectedColorPicker [mccConnectedColorPickerOrigin]="trigger2">
    </mcc-color-picker>

    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">
      <mat-form-field>
        <input matInput mccColorPickerOrigin #trigger2="mccColorPickerOrigin" formControlName="color" />
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">Submit
        <small>(look the console)</small>
      </button>
    </form>
  </mat-card-content>
</mat-card>

