@use '~@angular/material' as mat;

@mixin mcc-timer-picker-theme($theme) {
  $primary: map-get($theme, primary);

  .mcc-timer-picker-header {
   background: mat.get-color-from-palette($primary)!important;
  }

  .mcc-timer-picker-clock {
    .mcc-timer-picker-dot {
     background-color: mat.get-color-from-palette($primary)!important;
    }

    .mcc-timer-picker-line {
     background-color: mat.get-color-from-palette($primary)!important;
    }

    .mcc-timer-picker-option {
      &.mcc-timer-picker-option-selected {
        background-color: mat.get-color-from-palette($primary)!important;
      }
    }
  }
}