<h1 class="page-title">
  <mat-icon>add_circle_outline</mat-icon>
  Speed Dial
</h1>
<p class="page-subtitle">Example of how to use the
  <span>mcc-speed-dial</span> component</p>

<mat-tab-group>

  <mat-tab>
    <ng-template mat-tab-label>
      Overview
    </ng-template>

    <mat-grid-list cols="4" rowHeight="70px">
      <mat-grid-tile colspan="3">
        <h2>MccSpeedDial</h2>
      </mat-grid-tile>

      <mat-grid-tile>
        <a href="https://github.com/tiaguinho/material-community-components/tree/master/src/lib/speed-dial"
          target="_blank">
          <img src="https://tiaguinho.github.io/material-community-components/demo-app/assets/img/source-code.png"
            alt="Source Code" class="source-code" />
        </a>
      </mat-grid-tile>
    </mat-grid-list>

    <p>This is a implementation of speed dial for material design.</p>
    <p>To use this component, just import the module from
      <code>material-community-component</code> package.</p>

    <pre class="code-snippet"><code class="lang-typescript">  import {{ '{' }} MccSpeedDialModule {{ '}' }} from
      'material-community-components/speed-dial';

  <span class="hljs-variable">@NgModule</span>({{ '{' }}
      ...
    <span class="hljs-attribute">imports</span>: [
      MccSpeedDialModule
    ]
    ...
      {{ '}' }})
  </code>
</pre>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      API
    </ng-template>

    <app-speed-dial-api></app-speed-dial-api>
  </mat-tab>

  <mat-tab label="Examples">
    <ng-template mat-tab-label>
      Examples
    </ng-template>

    <app-speed-dial-examples></app-speed-dial-examples>
  </mat-tab>

</mat-tab-group>
