<div style="text-align:center">
  <h1>Color Picker DEMO APP</h1>
</div>

<h3>Change used color label</h3>
<mat-color-picker [usedColorLabel]="'My Colors'">
  
  <mat-color-picker-collection [label]="'First Collection'" 
                               [colors]="colors">
  </mat-color-picker-collection>

</mat-color-picker>

<hr style="margin: 50px 0;" />

<h3>Define used colors init value</h3>
<mat-color-picker [usedColorLabel]="'My Colors'" [usedColorStart]="usedStart">
  
  <mat-color-picker-collection [label]="'First Collection'" 
                               [colors]="colors">
  </mat-color-picker-collection>

</mat-color-picker>

<hr style="margin: 50px 0;" />

<h3>Hide empty slot of colors</h3>
<mat-color-picker hideEmptyUsedColors>
  
  <mat-color-picker-collection [label]="'First Collection'"
                               hideEmpty="true"
                               [colors]="colors">
  </mat-color-picker-collection>

</mat-color-picker>

<hr style="margin: 50px 0;" />

<h3>Change buttons label</h3>
<mat-color-picker
  [btnCancel]="'ESC'"
  [btnConfirm]="'OK'">
  
  <mat-color-picker-collection [label]="'First Collection'"
                               hideEmpty="true"
                               [colors]="colors">
  </mat-color-picker-collection>

</mat-color-picker>

<hr style="margin: 50px 0;" />

<h3>Hide buttons</h3>
<mat-color-picker hideButtons>
  
  <mat-color-picker-collection [label]="'First Collection'"
                               hideEmpty="true"
                               [colors]="colors">
  </mat-color-picker-collection>

</mat-color-picker>
