<div style="text-align:center">
  <h1>Color Picker DEMO APP</h1>
</div>

<h3>First Picker</h3>
<mat-color-picker [usedColorLabel]="'Minhas Cores'">
  
  <mat-color-picker-collection [label]="'First Collection'" 
                               [colors]="colors">
  </mat-color-picker-collection>

</mat-color-picker>

<!--
<hr style="margin: 100px 0;" />

<h3>Second Picker</h3>
<mat-color-picker>
  
  <mat-color-picker-collection [label]="'First Collection'" 
                               [colors]="colors">
  </mat-color-picker-collection>

</mat-color-picker>
-->
