<!-- WITHOUT OVERLAY -->
<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span [style.color]="selectedColor">Component without overlay</span>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker overlay="false" (selected)="selectedColor = $event"> </mcc-color-picker>
  </mat-card-content>
</mat-card>

<!-- WITHOUT OVERLAY + ALPHA -->
<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span [style.color]="selectedColor">Component without overlay - alpha enabled</span>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker overlay="false" (selected)="selectedColor = $event" alpha> </mcc-color-picker>
  </mat-card-content>
</mat-card>

<!-- DISABLE -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Disable</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker [disabled]="disabled"> </mcc-color-picker>

    <button mat-flat-button (click)="disabled = !disabled" color="primary" style="margin-left: 12px;" style="margin-left: 1rem;">
      Disable /Enable
    </button>
  </mat-card-content>
</mat-card>

<!-- CHANGE USED COLOR LABEL -->
<mat-card>
  <mat-card-header>
    <mat-card-title>
      Change used color label
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker [usedColorLabel]="'My custom color label'"> </mcc-color-picker>
  </mat-card-content>
</mat-card>

<!-- ADDITIONAL COLLECTIONS -->
<mat-card>
  <mat-card-header>
    <mat-card-title>
      Additional collections
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker>
      <mcc-color-picker-collection [label]="'First Collection'" [colors]="colors"> </mcc-color-picker-collection>
      <mcc-color-picker-collection [label]="'Second Collection'" [colors]="colors"> </mcc-color-picker-collection>
    </mcc-color-picker>
  </mat-card-content>
</mat-card>

<!-- COLORS AS OBJECTS -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Additional collection with colors object as input</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker>
      <mcc-color-picker-collection [label]="'First Object Collection'" [colors]="colorObject"> </mcc-color-picker-collection>
    </mcc-color-picker>
  </mat-card-content>
</mat-card>

<!-- SHOW USED COLORS AFTER CUSTOM COLLECTIONS -->
<mat-card>
  <mat-card-header>
    <mat-card-title>
      Show used colors after custom collections
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker [usedColorsPosition]="'bottom'">
      <mcc-color-picker-collection [label]="'Custom collection first'" [colors]="colors"> </mcc-color-picker-collection>
    </mcc-color-picker>
  </mat-card-content>
</mat-card>

<!-- REVERSE USED COLOR -->
<mat-card>
  <mat-card-header>
    <mat-card-title>
      Show used color reversed
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker [usedColorLabel]="'My Colors'" reverseUsedColors> </mcc-color-picker>
  </mat-card-content>
</mat-card>

<!--  USED COLORS LENGTH -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Max usedColors length</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker usedSizeColors="6"> </mcc-color-picker>
  </mat-card-content>
</mat-card>

<!-- DEFINE USED COLORS INIT VALUE -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Define used colors init value</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker [usedColorStart]="usedStart"> </mcc-color-picker>
  </mat-card-content>
</mat-card>

<!-- HIDE EMPTY COLOR SLOTS -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Hide empty color slots</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker hideEmptyUsedColors> </mcc-color-picker>
  </mat-card-content>
</mat-card>

<!-- HIDE EMPTY COLOR OPTION from USED COLORS -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Hide "EMPTY_COLOR" option from used colors</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker hideTransparentUsedColors> </mcc-color-picker>
  </mat-card-content>
</mat-card>

<!-- RESET USED COLORS GLOBALLY -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Reset used colors</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker>
      <mcc-color-picker-collection [label]="'First Object Collection'"> </mcc-color-picker-collection>
    </mcc-color-picker>
    <button mat-flat-button color="primary" style="margin-left: 12px;" (click)="reset()">RESET</button>
  </mat-card-content>
</mat-card>

<!-- HEIGHT -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Custom selector height</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker colorPickerSelectorHeight="100"> </mcc-color-picker>
  </mat-card-content>
</mat-card>

<!-- HIDE COLOR PICKER SELECTOR -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Hide color picker selector</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker hideColorPickerSelector> </mcc-color-picker>
  </mat-card-content>
</mat-card>

<!-- CHANGE COLOR WHEN CONFIRM -->
<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span [style.color]="selectedColor">Change color when confirm</span>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker (selected)="selectedColor = $event"> </mcc-color-picker>
  </mat-card-content>
</mat-card>

<!-- CHANGE COLOR ON CHANGE -->
<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span [style.color]="changeColor !== 'none' ? changeColor : 'rgba(0, 0, 0, 0.5)'">Change color on change</span>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker (change)="changeColor = $event" (selected)="changeColor = $event"> </mcc-color-picker>
  </mat-card-content>
</mat-card>

<!-- HIDE COLORS FORM -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Hide colors form</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker hideHexForms> </mcc-color-picker>
  </mat-card-content>
</mat-card>

<!-- CHANGE BUTTON LABELs -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Change button labels</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker btnCancelLabel="ESCAPE" btnConfirmLabel="OK"> </mcc-color-picker>
  </mat-card-content>
</mat-card>

<!-- HIDE BUTTONS -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Hide buttons</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker hideButtons> </mcc-color-picker>
  </mat-card-content>
</mat-card>

<!-- CONNECT COLOR PICKER WITH AN INPUT - HEX -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Connect color picker with an input - HEX</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker mccConnectedColorPicker [mccConnectedColorPickerOrigin]="trigger"> </mcc-color-picker>

    <form novalidate [formGroup]="hexForm" (ngSubmit)="onSubmit(hexForm)">
      <mat-form-field>
        <input matInput mccColorPickerOrigin #trigger="mccColorPickerOrigin" formControlName="color" />
      </mat-form-field>

      <button type="submit" mat-flat-button color="primary" style="margin-left: 12px;">
        Submit
        <small>(look the console)</small>
      </button>
    </form>
  </mat-card-content>
</mat-card>

<!-- CONNECT COLOR PICKER WITH AN INPUT - RGB -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Connect color picker with an input - RGB</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker mccConnectedColorPicker [mccConnectedColorPickerOrigin]="trigger2" format="rgb"> </mcc-color-picker>

    <form novalidate [formGroup]="rgbForm" (ngSubmit)="onSubmit(rgbForm)">
      <mat-form-field>
        <input matInput mccColorPickerOrigin #trigger2="mccColorPickerOrigin" formControlName="color" />
      </mat-form-field>

      <button type="submit" mat-flat-button color="primary" style="margin-left: 12px;">
        Submit
        <small>(look the console)</small>
      </button>
    </form>
  </mat-card-content>
</mat-card>

<!-- CONNECT COLOR PICKER WITH AN INPUT - HSL -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Connect color picker with an input - HSL</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker mccConnectedColorPicker [mccConnectedColorPickerOrigin]="trigger3" format="hsl"> </mcc-color-picker>

    <form novalidate [formGroup]="hslForm" (ngSubmit)="onSubmit(hslForm)">
      <mat-form-field>
        <input matInput mccColorPickerOrigin #trigger3="mccColorPickerOrigin" formControlName="color" />
      </mat-form-field>

      <button type="submit" mat-flat-button color="primary" style="margin-left: 12px;">
        Submit
        <small>(look the console)</small>
      </button>
    </form>
  </mat-card-content>
</mat-card>

<!-- CONNECT COLOR PICKER WITH AN INPUT - RGBA -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Connect color picker with an input - RGB with alpha</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mcc-color-picker mccConnectedColorPicker [mccConnectedColorPickerOrigin]="trigger4" format="rgb" alpha> </mcc-color-picker>

    <form novalidate [formGroup]="rgbaForm" (ngSubmit)="onSubmit(rgbaForm)">
      <mat-form-field>
        <input matInput mccColorPickerOrigin #trigger4="mccColorPickerOrigin" formControlName="color" />
      </mat-form-field>

      <button type="submit" mat-flat-button color="primary" style="margin-left: 12px;">
        Submit
        <small>(look the console)</small>
      </button>
    </form>
  </mat-card-content>
</mat-card>

<!-- CONNECT COLOR PICKER WITH AN INPUT - RGBA inside Field (use matPrefix and matSuffix)-->
<mat-card>
  <mat-card-header>
    <mat-card-title>Connect color picker with an input - RGB with alpha inside Field (use matPrefix and matSuffix)</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field >
      <input matInput mccColorPickerOrigin #trigger5="mccColorPickerOrigin" [(ngModel)]="color5" />
      <mcc-color-picker matSuffix mccConnectedColorPicker [mccConnectedColorPickerOrigin]="trigger5" format="rgb" alpha> </mcc-color-picker>
    </mat-form-field>
  </mat-card-content>
</mat-card>

<!-- CONNECT COLOR PICKER WITH AN INPUT - RGBA inside Field (use matPrefix and matSuffix) - mccColorPickerOrigin="openOnFocus" -->
<mat-card>
  <mat-card-header>
    <mat-card-title
      >Connect color picker with an input - HEX with alpha inside Field (use matPrefix and matSuffix) - mccColorPickerOrigin="openOnFocus"
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field appearance="outline">
      <mcc-color-picker matSuffix mccConnectedColorPicker [mccConnectedColorPickerOrigin]="trigger6" format="hex" alpha> </mcc-color-picker>
      <input matInput mccColorPickerOrigin="openOnFocus" #trigger6="mccColorPickerOrigin" [(ngModel)]="color6" />
    </mat-form-field>
  </mat-card-content>
</mat-card>

<!-- CONNECT COLOR PICKER WITH AN INPUT - RGBA inside Field (use matPrefix and matSuffix) - mccColorPickerOrigin="openOnFocus" with hidden color-button-->
<mat-card>
  <mat-card-header>
    <mat-card-title
      >Connect color picker with an input - HEX with alpha inside Field (use matPrefix and matSuffix) - mccColorPickerOrigin="openOnFocus" with hidden color-button
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field appearance="outline">
      <mcc-color-picker matSuffix mccConnectedColorPicker [mccConnectedColorPickerOrigin]="trigger7" format="hex" alpha style="opacity: 0;">
      </mcc-color-picker>
      <input matInput mccColorPickerOrigin="openOnFocus" #trigger7="mccColorPickerOrigin" [(ngModel)]="color7" />
    </mat-form-field>
  </mat-card-content>
</mat-card>

<!-- CONNECT COLOR PICKER WITH AN INPUT - RGBA inside Field (use class="mcc-color-picker-form-field" on mat-form-field)-->
<mat-card>
  <mat-card-header>
    <mat-card-title>Connect color picker with an input - HSL with alpha inside Field (use matPrefix and matSuffix)</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field appearance="fill">
      <input matInput mccColorPickerOrigin #trigger8="mccColorPickerOrigin" [(ngModel)]="color8" />
      <mcc-color-picker matPrefix mccConnectedColorPicker [mccConnectedColorPickerOrigin]="trigger8" format="hsl" alpha> </mcc-color-picker>
    </mat-form-field>
  </mat-card-content>
</mat-card>
