<h1 class="page-title">
  <mat-icon>view_list</mat-icon>
  Scrollspy
</h1>
<p class="page-subtitle">Example of how to use the
  <span>mcc-scrollspy</span> component</p>

<mat-tab-group>

  <mat-tab>
    <ng-template mat-tab-label>
      Overview
    </ng-template>

    <h2>MccScrollspy</h2>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      API
    </ng-template>

  </mat-tab>

  <mat-tab label="Examples">
    <ng-template mat-tab-label>
      Examples
    </ng-template>

    <app-scrollspy-examples></app-scrollspy-examples>
  </mat-tab>

</mat-tab-group>